# todo: clean up this file, and pertinent info.
pyinstaller==6.10.0
large-image[common]==1.29.10
# large-image[sources]==1.28.10

# for dsaLargeImageServer:
# large-image[common] - already installed above
# TODO install large_image_source_openslide manually? Otherwise deid pipeline doesn't work because it only recognizes SVS files opened by openslide, not tifffile (who knows why...)
# inability to open appropriate dll causes fallback to tifffile
large-image[openslide]==1.29.10
large-image[tiff]==1.29.10
girder_large_image
# tifftools
cffi==1.17.1
pyvips
#  openslide-python # is this really needed? behavior didn't change when I installed it. Shouldn't large-image common pull this in?