$modal_width: 85vw;
$modal_height: 85vh;
$modal_width_large: 95vw;
$modal_height_large: 95vh;

$modal_config_input_label_width: 6em;
$modal_config_input_control_margin_right: 3em;
$modal_config_input_checkbox_width: 9em;
$modal_infobox_column_width: 25em;
$dropdown_description_width: 30em;
$dropdown-width: 40em;