@import '../../styles/colors.scss';

.__ag-grid {
    height: 100%;
    width: 100%;

    .ag-cell.remove-row, .ag-header-cell.remove-row{
        padding-right:0;
        padding-left:0;
    }
    .ag-cell.left-ellipsis{
        overflow:hidden;
        text-overflow:ellipsis;
        direction:rtl;
    }
    .ag-cell.directory{
        color:gray;
        padding-right:0;
    }
    .ag-cell.filename{
        padding-left:0;
    }
    
    .ag-cell input{
        /* height: 1.2em; */
        height: 1.2em;
    }
    .ag-cell.copy-as.editable{
        padding-left:calc(var(--ag-cell-horizontal-padding) - 1px);
        padding-right:calc(var(--ag-cell-horizontal-padding) - 1px);
    }

    .__thumbnail{
        cursor:pointer;
    }
    .__thumbnail img{
        height:40px;
    }

    ._center-horizontally{
        text-align:center;
    }

    ._remove-button{
        background-color:rgb(255, 154, 154);
        font-weight:bold;
        font-size:0.5em;
        border-radius:1em;
        margin:0.1em 1em;
        cursor:pointer;
    }
    .ag-cell-value {
        display: flex;
        width: 100% !important;
        height: 100% !important;
    }
    .cell-container {
        height: 100% !important;
    }
}

.__input-text {
    height: 95% !important;
}

.__progress-indicator {
    width: 100% !important;
    height: 100% !important;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.__progress-indicator-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $black;
}

.__progress-indicator-text {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $black;
}

.__cell {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.__full-cell {
    padding: 0 0 0 0 !important;
}