@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.InputText {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  position: relative;
  label {
    display: flex;
    width: $modal_config_input_label_width;
    &._disabled {
      opacity: 0.2;
    }
  }
  .__tooltip {
    position: absolute;
    top: 2em;
    left: 2em;
    background-color: $black;
    color: $beige;
    padding: 0.5em;
    border-radius: 0.5em;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    &._visible {
      opacity: 1;
      visibility: visible;
    }
  }
  .__input-text {
    color: $beige;
    display: flex;
    align-items: center;
    height: 1.5em;
    background-color: $black;
    border: none;
    margin-left: 1em;
    padding: 0.5em;
    font-size: 1em;
    &._disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}